@import "tailwindcss";


#home {
    background-image: url("./assets/heroPicture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

section {
    transition: opacity 0.5s ease-in-out;
}